<%- include('../partials/header'); %>

    
<div class="container">
    <form class="form form-add" action="/posts" method="POST">
                    
        <label for="">Title</label>
        <input type="text" name="name" class="" id="" placeholder="Title">

        <label for="">Content</label>
        <input type="text" name="content" class="" id="" placeholder="Content">

        <input class="" type="submit" value="Submit">   

    </form>
</div>

<%- include('../partials/footer'); %>